body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(17, 212, 105);
}

form {
  font-size: large;
}

header {
  font-size: 2rem;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: rgb(177, 22, 208);
  color: rgb(27, 16, 20);
  padding-left: 1rem;
}

#input-area, input {
  font-size: 1rem;
}

#output-area {
  font-size: x-large;
  font-weight: bold;
  color: black;
}

button {
  font-size: 1.5rem;
}